
/* This is sample MiniBlog style file */

#header {

	/* This is header section, set background colour and fonts. Outline looks great, too */
	
}

.content{
	
	/* This is content div class. It is the main part of the page */

}

body{

	padding: 0;
	margin: 0;
	/* Body section, leave padding: 0 and margin: 0 */
	
	
}

a {

	/* link */
}

a:visited {

	/* visited link */
}

a:hover {

	/* pointed link */
}
img{
	/* set here img borders and other stuff */	
}
#footer {
	/* div with copyright, located in the very bottom */
}
